/* inter-regular - latin */
@font-face {
  font-family: 'Inter';
  font-style: normal;
  font-weight: 400;
  src: local(''),
    url('./assets/fonts/inter-v12-latin-regular.woff2') format('woff2'),
    /* Chrome 26+, Opera 23+, Firefox 39+ */
    url('./assets/fonts/inter-v12-latin-regular.woff') format('woff');
  /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}

/* inter-700 - latin */
@font-face {
  font-family: 'Inter';
  font-style: normal;
  font-weight: 700;
  src: local(''),
    url('./assets/fonts/inter-v12-latin-700.woff2') format('woff2'),
    /* Chrome 26+, Opera 23+, Firefox 39+ */
    url('./assets/fonts/inter-v12-latin-700.woff') format('woff');
  /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}

/* inika-regular - latin */
@font-face {
  font-family: 'Inika';
  font-style: normal;
  font-weight: 400;
  src: local(''),
    url('./assets/fonts/inika-v21-latin-regular.woff2') format('woff2'),
    /* Chrome 26+, Opera 23+, Firefox 39+ */
    url('./assets/fonts/inika-v21-latin-regular.woff') format('woff');
  /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}

/* inika-700 - latin */
@font-face {
  font-family: 'Inika';
  font-style: normal;
  font-weight: 700;
  src: local(''),
    url('./assets/fonts/inika-v21-latin-700.woff2') format('woff2'),
    /* Chrome 26+, Opera 23+, Firefox 39+ */
    url('./assets/fonts/inika-v21-latin-700.woff') format('woff');
  /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}

*,
*::before,
*::after {
  padding: 0;
  margin: 0;
  border: 0;
  box-sizing: border-box;
}

a {
  text-decoration: none;
}

ul,
ol,
li {
  list-style: none;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: inherit;
  font-size: inherit;
}

img {
  vertical-align: top;
}

:root {
  --main-color: #636060;
  --green-color: #499A18;
  --orange-color: #E06733;
  --black-color: #000000;
  --bg-main-color: #EDF2EC;
  --bg-white-color: #FFFFFF;
}

html {
  scroll-behavior: smooth;
}

body._lock {
  overflow: hidden;
}

.page {
  width: 100%;
  min-height: 100vh;
  margin: 0;
  padding: 0;

  display: flex;
  flex-direction: column;

  font-family: 'Inter';
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 35px;

  color: var(--main-color);
  background-color: var(--bg-main-color);
}

.container {
  max-width: 1260px;
  /* 1220px + 20px + 20px */
  padding: 0 20px;
  margin: 0 auto;
}

/* .hidden {
  visibility: hidden;
}

.visible {
  display: block;
} */

/*  ----------------- Header styles start ---------------------- */

.header {
  /* width: 100%; */
  z-index: 10;
  /* for position fixed */
  background-color: var(--bg-main-color);
}

.header__content {
  /* max-width: 1220px; */
  /* min-height: 70px; */

  padding: 42px 0px;

  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
}

.header__logo {
  z-index: 5;
  transition: all 0.3s ease;
}

.logo__body {
  display: flex;
  justify-content: center;
  align-items: baseline;
}

.logo__text {
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 21px;

  color: var(--black-color);
}

.header__logo:hover {
  filter: drop-shadow(8px 8px 20px green) saturate(150%);
}

.header__logo:active {
  filter: opacity(30%);
}

.menu__icon {
  display: none;
}

.menu__list {
  display: flex;
  flex-wrap: wrap;
  gap: 47px;
}

.link {
  color: var(--black-color);
  text-decoration: none;

  cursor: pointer;
  transition: all 0.3s ease;
}

.link:hover,
.link:focus {
  color: rgb(63, 151, 13, 0.7);
}

.link:active {
  color: rgb(63, 151, 13);
}

.menu__link {
  font-family: 'Inika';
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 50px;

  color: #010201;
}

.menu__link:hover,
.menu__link:focus {
  font-weight: 700;
  color: var(--orange-color);
}

.menu__link:active {
  font-weight: 700;
  color: var(--orange-color);

  opacity: 0.7;
  transition: opacity 0.3s ease;
}

/* ---------------------- Header styles end ------------------------ */



/* ---------------------- Main styles start ----------------------- */

/* welcome  */

.welcome__content {
  padding: 55px 0px;

  display: flex;
  justify-content: space-between;
  align-items: center;
}

.welcome__text {
  max-width: 549px;
}

.welcome__title {
  margin-bottom: 42px;

  font-style: normal;
  font-weight: 700;
  font-size: 45px;
  line-height: 50px;

  color: #717171;
}

.green-color {
  color: var(--green-color);
}

.welcome__subtitle {
  margin-bottom: 48px;
}

.btn {
  border: 2px solid var(--orange-color);
  border-radius: 10px;
  background-color: transparent;

  cursor: pointer;
  transition: all 0.5s ease;
}

.btn:hover,
.btn:focus {
  color: var(--bg-white-color);
  background-color: var(--orange-color);
}

.btn:active {
  opacity: 0.8;
}

.welcome__btn {
  padding: 10px 27px;

  display: flex;
  align-items: center;
  text-align: center;

  font-family: 'Inter';
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;

  color: var(--black-color);
}

/* about */

.about__section {
  background-color: var(--bg-white-color);
}

.about__content {
  padding: 97px 0px 87px;

  display: flex;
  justify-content: space-between;
  align-items: center;
}

.about__text {
  max-width: 600px;
}

.about__title {
  margin-bottom: 40px;

  font-family: 'Inika';
  font-style: normal;
  font-weight: 400;
  font-size: 40px;
  line-height: 52px;

  color: var(--green-color);
}

.orange-color {
  color: var(--orange-color);
}

.about__subtitle {
  line-height: 30px;
}

/* service */

.service__content {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 42px 0px 0px;
}

.service__text {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  gap: 140px;
  justify-content: space-between;

  margin-bottom: 79px;
}

.service__title {
  max-width: 306px;

  font-family: 'Inika';
  font-style: normal;
  font-weight: 400;
  font-size: 40px;
  line-height: 52px;

  color: var(--green-color);

}

.service__btns {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  gap: 40px;
}

.service__btn {
  width: 161px;
  height: 50px;

  border: 1px solid var(--orange-color);
  border-radius: 5px;

  font-family: 'Inika';
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 26px;

  color: var(--orange-color);

  /* transition: all 0.5s ease; */
}

.btn_active {
  color: var(--bg-white-color);
  background-color: var(--orange-color);
}

.service__items {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  gap: 54px 115px;

  margin-bottom: 121px;
}

.service__item {
  display: flex;
  flex-direction: column;
  align-items: center;

  transition: all 0.8s ease;
}

.service__item_valid {
  filter: blur(0px);
  /* background-color: var(--orange-color); */
}

.service__item_invalid {
  filter: blur(2px);
}

.item__image {
  border-radius: 20px 20px 0px 0px;
}

.item__text {
  width: 330px;
  padding-top: 11px;

  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 12px;

  border: 1px solid #E3E1D5;
  border-radius: 0px 0px 20px 20px;
}

.item__title {
  font-family: 'Inter';
  font-style: normal;
  font-weight: 700;
  font-size: 20px;
  line-height: 20px;

  color: var(--orange-color);
}

.item__subtitle {
  margin-bottom: 36px;

  font-family: 'Inter';
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;

  color: #717171;
}

/* price */

.price__section {
  background: var(--bg-white-color);
}

.price__content {
  padding: 39px 0px 107px 0px;

  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.price__option {
  display: flex;
  flex-direction: column;
  gap: 60px;
}

.price__title {
  font-style: normal;
  font-weight: 700;
  font-size: 40px;
  line-height: 48px;

  color: var(--black-color);
}

.price__body {
  max-width: 332px;
  padding: 33px 41px;

  position: relative;

  border: 1px solid #E3E1D5;
  border-radius: 20px;
}

.price__items {
  display: flex;
  flex-direction: column;
  gap: 32px;
}

.price__item {
  width: 250px;
  padding: 15px 40px;

  display: flex;
  align-items: center;
  justify-content: space-between;

  font-family: 'Inter';
  font-style: normal;
  font-weight: 700;
  font-size: 20px;
  line-height: 20px;

  color: var(--black-color);
  background: var(--bg-main-color);

  border-radius: 20px;

  cursor: pointer;
  transition: all 0.3s ease;
}

.price__item:hover {
  background: #D6E7D2;
}

.accordion-btn {
  width: 16px;
  height: 16px;
  border-radius: 50%;

  display: flex;
  align-items: center;
  justify-content: center;

  background: #D9D9D9;
  transition: all 0.3s;
}

.accordion-btn__arrow {
  padding: 1.3px;

  display: inline-block;

  border: solid #717171;
  border-width: 0 0.5px 0.5px 0;

  transform: rotate(45deg);
  -webkit-transform: rotate(45deg);
  transition: all 0.3s;
}

/* ----------------  pop-up ---------------- */

/* .pop-up_basics, */
/* .pop-up_standard, */
/* .pop-up_pro-care  */
.price__pop-up {
  width: 250px;
  height: 154px;

  display: none;

  position: absolute;
  top: 25%;
  /* left: 25%; */

  background: #D6E7D2;

  border-radius: 20px;
}

/* .visible {
  display: block;
}

.hidden {
  visibility: hidden;
} */

/* .price__item:hover .accordion-btn, */
.accordion-btn:hover,
.pop-up__accordion-btn,
.accordion-btn_active {
  background: #AEA1A1;

  cursor: pointer;
  transition: all 0.3s;
  /* transform: rotate(-180deg); */
}

.accordion-btn:hover .accordion-btn__arrow {
  border: solid white;
  border-width: 0 0.5px 0.5px 0;
}

.pop-up__accordion-btn:hover {
  background: #D9D9D9;
}

.accordion-btn:active .accordion-btn__arrow,
.pop-up__accordion-btn .accordion-btn__arrow {
  border: solid white;
  border-width: 0 0.5px 0.5px 0;

  transform: rotate(-135deg);
  -webkit-transform: rotate(-135deg);
  transition: transform 0.3s ease;
}



.pop-up__accordion-btn:hover .accordion-btn__arrow {
  border: solid #717171;
  border-width: 0 0.5px 0.5px 0;
}

.pop-up__accordion-btn:active .accordion-btn__arrow {
  padding: 1.3px;
  display: inline-block;

  border: solid #717171;
  border-width: 0 0.5px 0.5px 0;

  transform: rotate(45deg);
  -webkit-transform: rotate(45deg);
  transition: transform 0.3s ease;
}



/* .price__item:hover .price__pop-up {
  display: block;
  } */

/* .accordion-btn:hover .price__content {
  display: none;
  } */

.pop-up__container {
  max-width: 169px;

  padding: 16px 0 12px;
}

.pop-up__content {
  display: flex;
  justify-content: space-between;

  margin-bottom: 12px;
}

.pop-up__title {
  font-family: 'Inter';
  font-style: normal;
  font-weight: 700;
  font-size: 20px;
  line-height: 20px;

  color: var(--black-color);
}

.pop-up__line {
  border: 0.5px solid #AEA1A1;
  margin-bottom: 6px;
}

.pop-up__text {
  font-family: 'Inter';
  font-style: normal;
  font-weight: 300;
  font-size: 10px;
  line-height: 10px;

  color: #717171;

  margin-bottom: 6px;
}

.pop-up__price {
  font-weight: 300;
  font-size: 10px;
  line-height: 10px;

  color: var(--black-color);
}

.pop-up__price .orange-color {
  font-family: 'Inter';
  font-style: normal;
  font-weight: 700;
  font-size: 12px;
  line-height: 20px;
}

.pop-up__button {
  padding: 3px 20px;

  background: var(--bg-white-color);
  border-radius: 10px;

  font-family: 'Inter';
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  line-height: 20px;

  color: #717171;

  cursor: pointer;
  transition: all 0.3s ease;
}

.pop-up__button:hover {
  color: var(--green-color);
}

/* ------------------------------------------------ */

.price__help {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: flex-end;
}

.help__title {
  max-width: 452px;
  margin-bottom: 41px;

  font-family: 'Inter';
  font-style: normal;
  font-weight: 700;
  font-size: 40px;
  line-height: 50px;

  text-align: right;

  color: var(--black-color);
}

.color-green {
  color: var(--green-color);
}

.help__btn {
  padding: 12px 34px;
  margin-bottom: 33px;

  border: 1px solid var(--orange-color);
  border-radius: 5px;

  font-family: 'Inika';
  font-style: normal;
  font-weight: 700;
  font-size: 20px;
  line-height: 26px;

  text-align: center;

  color: var(--orange-color);
}

/* contacts */

.contacts__content {
  padding: 53px 0px 0px;

  display: flex;
  justify-content: space-between;
  /* align-items: center; */
}

.contacts__title {
  padding-top: 8px;

  font-family: 'Inika';
  font-style: normal;
  font-weight: 700;
  font-size: 40px;
  line-height: 52px;

  color: var(--green-color);
}

.contacts__options {
  /* width: 450px; */

  /* padding-top: 94px; */

  /* background: #D6E7D2;
box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
border-radius: 0px; */

  /* font-family: 'Inter';
font-style: normal;
font-weight: 400;
font-size: 20px;
line-height: 40px;

letter-spacing: 0.05em;

color: #717171; */
}

.contacts__block {
  padding-top: 95px;

  display: flex;
  flex-direction: column;
  align-items: center;
  /* gap: 20px; */
}

.contacts__select {
  /* width: 100%; */
  width: 450px;

  padding: 6px 33px 5px 21px;

  display: flex;
  justify-content: space-between;
  align-items: center;
  order: 1;

  background: #D6E7D2;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 0px;

  font-family: 'Inter';
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 40px;

  letter-spacing: 0.05em;

  color: #717171;

  cursor: pointer;
  transition: all 0.3s ease;
}

.contacts__select:hover {
  background: #C1E698;
}

.contacts__select_active {
  background: #C1E698;
}

.contacts__options {
  width: 450px;
  /* max-height: 234px; */

  display: none;

  order: 2;

  background: #DCE9D9;
}

.contacts__options-content {
  padding: 27px 50px 31px 26px;

  display: flex;
  flex-direction: column;
  gap: 12px;
  /* align-items:flex-start; */
}

.contacts__option {
  width: 100%;
  padding-left: 10px;
  border-bottom: 1px solid #D9D9D9;

  font-family: 'Inter';
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 40px;

  letter-spacing: 0.05em;

  text-align: left;

  color: #499A18;
  background: #DCE9D9;

  cursor: pointer;
  transition: all 0.3s ease;
}

.contacts__option:hover {
  border-bottom: 1px solid #717171;

  color: #717171;
}

.accordion-btn_contacts {
  background: #AEA1A1;
}

.accordion-btn__arrow_contacts {
  border: solid white;
  border-width: 0 0.5px 0.5px 0;
}

.accordion-btn__arrow_active {
  border: solid white;
  border-width: 0 0.5px 0.5px 0;

  transform: rotate(-135deg);
  -webkit-transform: rotate(-135deg);
  transition: transform 0.3s ease;
}

.contacts__pop-up {
  width: 448px;
  margin-top: 40px;

  display: none;
  order: 2;

  background: #EDF2EC;
  border: 1px solid #000000;
  border-radius: 20px;
}

.visible {
  display: block;
}

.hidden {
  visibility: hidden;
}

.contacts__pop-up-content {
  padding: 17px 76px 32px 33px;

  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 24px;
}

.contacts__contact {
  display: flex;
  gap: 25px;
}

.contact__list {
  display: flex;
  flex-direction: column;
}

.contact__list_title {
  font-family: 'Inter';
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 40px;

  letter-spacing: 0.05em;

  color: #000000;
}

.contact__list_subtitle,
.contact__list_subtitle .link_call-us {
  font-family: 'Inter';
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 40px;
  
  letter-spacing: 0.05em;

  color: #717171;
}

.btn_call-us {
  width: 122px;
  height: 26px;
  /* padding: 7px 29px; */
  /* text-align: center; */

  border: 1px solid #E06733;
  border-radius: 5px;
}

.link_call-us {
  font-family: 'Inika';
  font-style: normal;
  font-weight: 700;
  font-size: 10px;
  line-height: 13px;
  text-align: center;

  color: #717171;
}


/* ----------------------  Main styles end  ------------------------- */



/* --------------------- Footer styles start ---------------------- */

.footer {
  /* width: 100%; */
  /* clear: both; */
  background: var(--bg-white-color);
}

.footer__content {
  padding: 40px 0px;

  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;

  font-size: 20px;
  line-height: 50px;

  color: var(--black-color);
}

.footer-data,
.social-list__list {
  display: flex;
  gap: 20px;
  align-items: center;
  justify-content: center;
}

/* Footer styles end */


/*  ==============================================================================  */
/*  ===========================  Media styles start  =============================  */
/*  ==============================================================================  */


/* -------------------  @media (max-width: 768px)  ---------------------------- */

@media (max-width: 1068px) {

  .page {
    font-size: 16px;
    line-height: 25px;
  }

  /* Header styles start */

  .container {
    max-width: 708px;
    /* 668px + 20px + 20px */
  }

  .header__content {
    padding: 36px 0px 35px;
  }

  /* Header styles end */

  /* ---------------------- Main styles start ----------------------- */

  /* welcome  */

  .welcome__content {
    padding: 36px 0px 71px;

    align-items: flex-start;
  }

  .welcome__text {
    max-width: 346px;
  }

  .welcome__title {
    margin-bottom: 30px;

    font-size: 35px;
  }

  .welcome__subtitle {
    margin-bottom: 36px;
  }

  .welcome__img {
    order: 2;
  }

  /* about  */

  .about__content {
    padding: 40px 0px 95px;

    flex-direction: column;

    gap: 70px;
  }

  .about__text {
    max-width: 100%;

    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .about__title {
    width: 423px;
    margin-bottom: 47px;

    font-size: 35px;
    line-height: 46px;
    text-align: center;
  }

  .about__subtitle {
    font-size: 20px;
  }

  /* service */

  .service__content {
    padding: 60px 0px 3px;
  }

  .service__text {
    gap: 40px;

    margin-bottom: 42px;
  }

  .service__title {
    font-size: 35px;
    line-height: 46px;
  }

  .service__items {
    gap: 37px 108px;
    margin-bottom: 66px;
  }

  .service__item {
    /* gap: 10px; */
  }

  .item__text {
    width: 280px;
    padding-top: 10px;

    gap: 10px;
  }

  .item__subtitle {
    max-width: 250px;
    margin-bottom: 19px;

    text-align: center;
  }

  /* price */

  .price__content {
    padding: 40px 0px 81px 0px;
  }

  .price__title {
    padding-left: 15px;
    font-size: 35px;
    line-height: 42px;
  }


  /* ----------------  pop-up ---------------- */

  .pop-up__container {
    max-width: 169px;

    padding: 16px 0 12px;
  }

  /* -------------------------------- */


  .price__help {
    padding-top: 100px;
  }

  .help__title {
    max-width: 296px;
    margin-bottom: 27px;

    font-size: 25px;
    line-height: 35px;
  }

  .help__btn {
    margin-bottom: 28px;
  }

  /* contacts */

  .contacts__content {
    padding-top: 33px;

    flex-direction: column;
    align-items: center;
  }

  .contacts__title {
    margin-bottom: 98px;

    order: 1;
  }

  .contacts__block {
    padding-top: 0px;
    margin-bottom: 250px;
    order: 2;
  }

  .contacts__options {
    /* padding-top: 0px; */
    /* margin-bottom: 250px; */
    /* order: 2; */
  }

  .contacts__img {
    order: 3;
  }

  /* ------------------------ Main styles end -------------------  */



  /* -------------------------  Footer styles start -------------------  */

  .footer__content {
    padding: 32px 0px 35px;

    flex-direction: column;
    gap: 16px;

    line-height: 24px;
  }

  /* -------------------------  Footer styles end -------------------  */

}



/* ============================================================================= */
/* -------------------------  @media (max-width: 380px)  ----------------------- */
/* @media (max-width: 767px) */

@media (max-width: 767px) {

  .page {
    font-size: 16px;
  }

  /* Header styles start */

  .container {
    max-width: 370px;
    /* 330px + 20px + 20px */
  }

  .header__content {
    padding: 34px 0px 35px;
  }

  .menu__icon {
    width: 40px;
    height: 24px;

    z-index: 5;

    display: block;

    position: relative;

    cursor: pointer;
  }

  .menu__icon span,
  .menu__icon::before,
  .menu__icon::after {
    width: 100%;
    height: 2px;

    position: absolute;
    left: 0;

    transition: all 0.3s ease 0s;
    background-color: #717171;
  }

  .menu__icon::before,
  .menu__icon::after {
    content: "";
  }

  .menu__icon::before {
    top: 0;
  }

  .menu__icon::after {
    bottom: 0;
  }

  .menu__icon span {
    /* top: 50%; */
    transform: scale(1) translate(0px, -50%);
  }

  .burger__line_second {
    top: 34%;
  }

  .burger__line_third {
    bottom: 26%;
  }

  .menu__icon._active span {
    transform: scale(0) translate(0px, -50%);
  }

  .menu__icon._active::before {
    top: 50%;
    transform: rotate(-45deg) translate(0px, -50%);
  }

  .menu__icon._active::after {
    bottom: 50%;
    transform: rotate(45deg) translate(0px, 50%);
  }

  .menu__body {
    width: 100%;
    height: 100%;
    padding: 120px 30px 30px 50px;

    position: fixed;
    top: 0;
    left: -100%;

    background-color: var(--bg-main-color);
    opacity: 0.9;

    transition: left 0.3s ease 0s;
    overflow: auto;
    /* scroll menu  */
  }

  .menu__body._active {
    left: 0;
  }

  /* .menu__body::before {
  content: "";
  position: fixed;
  width: 100%;
  top: 0;
  left: 0;
  height: 90px;
  background-color: var(--bg-main-color);
  z-index: 2;
} */

  .menu__list {
    display: flex;
    flex-direction: column;
    gap: 10px;
  }

  .menu__link {
    font-size: 24px;
  }

  /* --------------------  Header styles end ------------------------- */



  /* ------------------------- Main styles start ----------------------- */

  /* welcome */

  .welcome__content {
    padding: 26px 0px 24px;
  }

  .welcome__img {
    display: none;
  }

  .welcome__title {
    margin-bottom: 20px;

    font-size: 25px;
    line-height: 35px;
    align-items: center;
  }

  .welcome__subtitle {
    margin-bottom: 26px;
  }

  .btn {
    padding: 5px 16px;
  }

  .welcome__btn {
    font-size: 10px;
  }

  /* about */

  .about__content {
    padding: 30px 0px 31px;
    gap: 0px;
  }

  .about__title {
    max-width: 288px;
    margin-bottom: 14px;

    font-size: 25px;
    line-height: 33px;
    text-align: center;
  }

  .about__subtitle {
    font-size: 15px;
    line-height: 25px;
  }

  /* service */

  .service__content {
    padding: 30px 0px 3px;
  }

  .service__text {
    margin-bottom: 38px;
  }

  .service__title {
    max-width: 187px;

    font-size: 25px;
    line-height: 33px;
  }

  .service__btns {
    gap: 10px;
  }

  .service__btn {
    width: 121px;
    height: 35px;

    font-size: 15px;
    line-height: 20px;
  }

  .service__items {
    justify-content: center;
    gap: 34px 0px;
    margin-bottom: 23px;
  }

  .item__text {
    padding-top: 9px;
  }

  /* price */

  .price__content {
    flex-direction: column;
    align-items: center;
    gap: 19px;

    padding: 25px 0px 22px 0px;
  }

  .price__option {
    gap: 37px;
  }

  .price__title {
    padding-left: 0px;

    font-size: 25px;
    line-height: 30px;
    text-align: center;
  }

  .price__body {
    max-width: 224px;
    padding: 28px 41px;
  }

  .price__items {
    gap: 14px;
    align-items: center;
  }

  .price__item {
    width: 180px;
    padding: 16px 40px 14px 30px;

    font-size: 16px;
  }


  /* ----------------  pop-up ---------------- */

  .price__pop-up {
    width: 200px;
    /* height: 154px; */

    top: 18%;
    left: 5%;
  }

  .pop-up__container {
    max-width: 169px;

    /* padding: 16px 0 12px; */
  }

  /* -------------------------------- */


  .price__help {
    padding-top: 0px;

    align-items: center;
    gap: 18px;
  }

  .help__title {
    max-width: 230px;
    margin-bottom: 1px;

    font-size: 20px;
    line-height: 35px;

    text-align: center;
  }

  .help__img {
    display: none;
  }

  .help__btn {
    padding: 4px 23px;
    margin-bottom: 0px;

    font-size: 15px;
  }

  /* contacts */

  .contacts__content {
    padding-top: 18px;
  }

  .contacts__title {
    font-size: 25px;
    line-height: 33px;
    text-align: center;

    margin-bottom: 80px;
  }

  .contacts__block {
    margin-bottom: 132px;
  }

  .contacts__select {
    width: 300px;
  }

  .contacts__options {
    width: 302px;
  }

  .contacts__pop-up {
    width: 318px;
  }

  .contacts__pop-up-content {
    padding: 15px 4px;
    gap: 15px;
  }

  .contacts__contact {
    gap: 1px;
  }

  /* ------------------------ Main styles end -------------------  */



  /* -------------------------  Footer styles start -------------------  */

  .footer__content {
    padding: 22px 0px 10px;
  }

}

/*  ==============================================================================  */
/*  ===========================  Media styles end  =============================  */
/*  ==============================================================================  */